<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navbar"></nav>
    <h1>Add Holidays</h1>


<form style="max-width:600px;" th:action="@{/holidays/add}" th:method="POST" th:object="${holiday}">

    <div class="form-group">
        <label for="holidayName-field">Holiday Name</label>
        <input th:field="*{name}" class="form-control" type="text" id="holidayName-field" placeholder="Holiday Name"/>
    </div>

    <div class="form-group">
        <label for="holidayDate-field">Holiday Date</label>
        <input th:field="*{date}" class="form-control" type="date" id="holidayDate-field" placeholder="Holiday Date"/>
    </div>
    <input type="submit" value="Add Holiday"/>
</form>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>