<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navbar"></nav>
    <h1>Edit Holidays</h1>


<form th:action="@{edit}" method="POST" th:object="${holiday}" style="max-width:600px;">

    <div class="form-group">
        <label for="holidayName-field">Holiday Name</label>
        <input class="form-control" id="holidayName-field" type="text" th:field="*{holidayName}" placeholder="Enter the holiday name"/>
    </div>

    <div class="form-group">
        <label for="holidayDate-field">Holiday date</label>
        <input class="form-control" type="date" id="holidayDate-field" th:field="*{holidayDate}" placeholder="Enter holiday date"/>
    </div>
    <input type="submit" class= "btn-btn-primary" value="Update holiday"/>
</form>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>