<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navbar"></nav>
    <h1>Edit Holidays</h1>


<form th:action="@{edit}" th:action="@{/holidays/{id}/edit(id=${holiday.id})}" th:object="${holiday}" th:method="POST" style="max-width:600px;">

    <div class="form-group">
        <label for="name-field">Holiday Name</label>
        <input class="form-control" id="name-field" type="text" th:field="*{name}" placeholder="Enter the holiday name"/>
    </div>

    <div class="form-group">
        <label for="date-field">Holiday date</label>
        <input class="form-control" type="date" id="date-field" th:field="*{date}" placeholder="Enter holiday date"/>
    </div>
    <input type="submit" class= "btn-btn-primary" value="Update holiday"/>
</form>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>