<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navbar"></nav>
<br>
<container class="container">
    <h1>Holidays</h1>
    <a class="btn btn-green" href="/holidays/add" role="button">Add Holiday</button></a>
</container>
<br>


<div th:switch="${holidays}">
    <h2 th:case="null">No holidays yet!</h2>
    <div th:case="*">
        <table class="table">
            <thead>
                <tr>
                    <th><h2>Holiday Name</h2></th>
                    <th><h2>Holiday Date</h2></th>
                </tr>
        </thead>
        <tbody>
            <tr th:each="holiday : ${holidays}">
                <td th:text="${holiday.name}"></td>
                <td th:text="${holiday.date}"></td>
                <td><a th:href="@{/holidays/{id}/edit(id=${holiday.id})}" class="btn btn-warning">Edit</a></td>
                <td><a th:href="@{/holidays/delete/{id}(id=${holiday.id})}" class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>