<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<title>Profile</title>
<body>
<nav th:replace="fragments :: navbar"></nav>
<h1>Profile</h1>

<p>Welcome to your profile!</p>
<div th:object="${user}">
<table class="table">
    <tr>
        <td><h2>First Name</h2></td>
        <td><h2>Last Name</h2></td>
        <td><h2>Email</h2></td>
        <td><h2>Username</h2></td>
    </tr>
    <tr>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.username}"></td>
    </tr>
</table>
    <td><a th:href="@{/users/{id}/edit(id=${user.id})}" class="btn btn-warning">Edit Profile</a></td>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>