<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navbar"></nav>

<form method="post" style="max-width:600px;">
    <div th:each="example : ${examples}" class="checkbox">
        <input type="checkbox" name="exampleIds" th:value="${example.exampleId}" th:id="${example.exampleId}"/>
        <label th:for="${example.exampleId}" th:text="${example.name}"></label>
    </br>
    </div>

    <input type="submit" value="Remove Example"/>

</form>
</body>
</html>