<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navbar"></nav>

<h1 th:text="${title}">Title</h1>

<a href="/sample/add">Add Example</a>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr th:each="example : ${examples}">
        <td th:text="${example.name}"></td>
        <td th:text="${example.description}"></td>
    </tr>
</table>

</body>
</html>