<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark navbar-static-top">
        <a class="navbar-brand" href="/">
            <img class="nav-logo" src="/img/logo.png" alt="Codeup" width="150px"/>
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cohorts">Cohorts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/holidays">Holidays</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendars">Calendars</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn nav-link">Logout</button>
                </form>
            </li>
        </ul>
        <!-- hidden search form
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
</nav>
    <footer class="footer fixed-bottom" th:fragment="footer">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</footer>
</body>
</html>