<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navbar"></nav>
    <h1>Cohort Calendar</h1>

<a class="btn btn-primary" href="/cohorts" role="button">View all cohorts</button></a>
<p>
    This view shows all cohort data, including: cohort name, start date, graduation date, program type, campus, graduation, type, and contact hours.
</p>
<a class="btn btn-primary" href="/holidays" role="button">View all holidays</button></a>
<p>
    This view shows all holidays, listed by holiday name and date. These dates have no class hours, and inform the cohort graduation dates.
</p>
<a class="btn btn-primary" href="/calendars/ajax" role="button">View cohort calendar</button></a>
<p>
    This view shows a gantt chart of all cohorts filtered by campus, program, or all. This allows a view of cohort overlaps.
</p>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>