<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navbar"></nav>
    <h1>Cohort Calendar</h1>
<footer th:replace="fragments :: footer"></footer>

<a class="btn btn-primary" href="/cohorts" role="button">View all cohorts</button></a>
<a class="btn btn-primary" href="/holidays" role="button">View all holidays</button></a>
<a class="btn btn-primary" href="/calendars/ajax" role="button">View cohort calendar</button></a>

</body>
</html>