<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<title>Login</title>
<body>
<nav th:replace="fragments :: navbar"></nav>
<h1>Register</h1>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleFirstName">First Name</label>
        <input type="text" class="form-control" id="exampleFirstName" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="exampleLastName">Last Name</label>
        <input type="text" class="form-control" id="exampleLastName" placeholder="Last Name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<footer th:replace="fragments :: footer"></footer>

</body>
</html>