<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Calendars</title>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"
    >
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        function drawChart() {

            var calendarTable = new google.visualization.DataTable();
            calendarTable.addColumn('string', 'Task ID');
            calendarTable.addColumn('string', 'Task Name');
            calendarTable.addColumn('string', 'Resource');
            calendarTable.addColumn('date', 'Start Date');
            calendarTable.addColumn('date', 'End Date');
            calendarTable.addColumn('number', 'Duration');
            calendarTable.addColumn('number', 'Percent Complete');
            calendarTable.addColumn('string', 'Dependencies');

            var options = {
                height: 800,
                gantt: {
                    trackHeight: 30,
                    sortTasks: true,
                    percentEnabled: true
                }
            };

            var currentUrl = window.location.href;
            var queryString;
            if (currentUrl.includes("SAT")) {
                queryString = "/calendars.json?campus=sat";
                } else if (currentUrl.includes("DAL")) {
                queryString = "/calendars.json?campus=dal";
                } else if (currentUrl.includes("HOU")) {
                    queryString = "/calendars.json?campus=hou";
                }else if (currentUrl.includes("java")) {
                    queryString = "/calendars.json?programType=full-stack+web+dev+-+java";
                } else if (currentUrl.includes("science")) {
                    queryString = "/calendars.json?programType=data+science";
                } else{
                queryString="/calendars.json";
            }

            console.log(queryString);

            $.ajax({
                url: queryString,
                dataType: "JSON",
            }).done(function (data) {

                var calendarArray = [];

                data.forEach(function (acalendar) {
                    var calendarItem = [acalendar.id.toString(), acalendar.name, acalendar.campus + ' ' + acalendar.programType, new Date(acalendar.startDate), new Date(acalendar.gradDate), null, null, null];
                    calendarArray.push(calendarItem);
                });
                calendarTable.addRows(calendarArray);
                var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
                chart.draw(calendarTable, options);
                console.log(calendarArray);

            });
        }
        google.charts.load('current', {'packages':['gantt']});
        google.charts.setOnLoadCallback(drawChart);
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<h1>Cohort Calendar</h1>

<div id="calendar-buttons">
<a class="btn btn-green" href="/calendars/ajax" role="button">All Calendars</button></a>
    <div id="calendars-by-campus">
<a class="btn btn-green" href="/calendars/ajax?campus=SAT" role="button">SAT</button></a>
<a class="btn btn-green" href="/calendars/ajax?campus=DAL" role="button">DAL</button></a>
<a class="btn btn-green" href="/calendars/ajax?campus=HOU" role="button">HOU</button></a>
    </div>
    <div id="calendars-by-program">
<a class="btn btn-green" href="/calendars/ajax?programType=full-stack+web+dev+-+java" role="button">Web Dev</button></a>
<a class="btn btn-green" href="/calendars/ajax?programType=data+science" role="button">Data Science</button></a>
    </div>
</div>
<hr>
<div id="chart_div"></div>

<!-- include the JS file with the AJAX request -->
<footer></footer>
</body>
</html>