<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="header-calendar :: header-calendar">

<title>Calendars</title>

<body>
<nav th:replace="fragments :: navbar"></nav>

<h1>All Calendars</h1>

<ul>
    <li><a href="/calendars/web-dev">Web Dev Calendars</a></li>
    <li><a href="/calendars/data-science">Data ScienceCalendars</a></li>
    <li><a href="/calendars/sat">SAT Calendars</a></li>
    <li><a href="/calendars/dal">DAL Calendars</a></li>
</ul>
<hr>

<div id="calendar" th:id="calendar"></div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>