<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="header-calendar :: header-calendar">

<title>Calendars</title>

<body>
<nav th:replace="fragments :: navbar"></nav>

<h1>All Calendars</h1>

<ul>
    <li><a href="/calendars/web-dev">Web Dev Calendars</a></li>
    <li><a href="/calendars/data-science">Data ScienceCalendars</a></li>
    <li><a href="/calendars/sat">SAT Calendars</a></li>
    <li><a href="/calendars/dal">DAL Calendars</a></li>
</ul>
<hr>
<script>
        // Load the Visualization API and the corechart package.

        google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Task ID');
        data.addColumn('string', 'Task Name');
        data.addColumn('string', 'Resource');
        data.addColumn('date', 'Start Date');
        data.addColumn('date', 'End Date');
        data.addColumn('number', 'Duration');
        data.addColumn('number', 'Percent Complete');
        data.addColumn('string', 'Dependencies');

        data.addRows([
            ['Hyperion', 'Hyperion', 'SATWD',
                new Date(2020, 5, 26), new Date(2020,11,12), null, null, null],
            ['Jupiter', 'Jupiter', 'SATWD',
                new Date(2020,9,21), new Date(2021,3,22), null, null, null],
            ['Darden', 'Darden', 'SATDS',
                new Date(2020,7,13), new Date(2021,1,7), null, null, null],
            ['Cobol', 'Cobol', 'DALWD',
                new Date(2021,1,19), new Date(2021,7,12), null, null, null]
        ]);
        console.log(data);

        var options = {
            height: 400,
            gantt: {
                trackHeight: 30,
                sortTasks: false
            },
        };

        var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>

<div id="cohorts"></div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"
>
</script>
<!-- include the JS file with the AJAX request -->
<script src="/js/ads.js"></script>

<div id="chart_div"></div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>