<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<title>Cohorts</title>
<body>
<nav th:replace="fragments :: navbar"></nav>
<h1>Add a new cohorts</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
    <label for="name-field">Name</label>
    <input class="form-control" type="text" id="name-field" name="name"/>
    </div>

    <div class="form-group">
    <label for="startDate-field">Start date</label>
    <input class="form-control" type="date" id="startDate-field" name="startDate"/>
    </div>

    <div class="form-group">
        <label for="programType-field">Select program type</label>
        <select class="form-control" id="programType-field">
            <option>Full-Stack Web Development</option>
            <option>Data Science</option>
        </select>
    </div>

    <div class="form-group">
        <label for="campus-field">Select campus</label>
        <select class="form-control" id="campus-field">
            <option>SAT</option>
            <option>DAL</option>
            <option>HOU</option>
            <option>AUS</option>
        </select>
    </div>

    <div class="form-group">
    <label for="contactHours-field">Contact hours</label>
    <input class="form-control" type="int" id="contactHours-field" name="contactHours"/>
    </div>

    <input type="submit" value="Add Cohort"/>
</form>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>