<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<title>Cohorts</title>
<body>
<nav th:replace="fragments :: navbar"></nav>
<h1>Cohorts</h1>

<table class="table">
    <tr>
        <th>Cohort Name</th>
        <th>Program Type</th>
        <th>Campus</th>
        <th>Start Date</th>
        <th>Graduation Date</th>
        <th>Contact Hours</th>
    </tr>
    <tr th:each="cohort : ${cohorts}">
        <td th:text="${cohort.name}"></td>
        <td th:text="${cohort.programType}"></td>
        <td th:text="${cohort.campus}"></td>
        <td th:text="${cohort.startDate}"></td>
        <!--<td th:text="${cohort.gradDate}"></td>-->
        <td th:text="${cohort.contactHours}"></td>
        <td><a th:href="@{/edit/{id}(id=${cohort.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${cohort.id})}">Delete</a></td>
    </tr>
</table>
<hr>
<a class="btn btn-primary" href="/cohorts/add" role="button">Add Cohort</button></a>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>