<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<title>Cohorts</title>
<body>
<nav th:replace="fragments :: navbar"></nav>
<br>
<container class="container">
    <h1>Cohorts</h1>
    <a class="btn btn-green" href="/cohorts/add" role="button">Add Cohort</button></a>
</container>
<br>
<table class="table">
    <tr>
        <th><h2>Cohort Name</h2></th>
        <th><h2>Program Type</h2></th>
        <th><h2>Campus</h2></th>
        <th><h2>Start Date</h2></th>
        <th><h2>Graduation Date</h2></th>
        <th><h2>Contact Hours</h2></th>
        <th><h2>Edit</h2></th>
        <th><h2>Delete</h2></th>
    </tr>
    <tr th:each="cohort : ${#lists.sort(cohorts,byStartDate)}">
        <td th:text="${cohort.name}"></td>
        <td th:text="${cohort.programType}"></td>
        <td th:text="${cohort.campus}"></td>
        <td th:text="${cohort.startDate}"></td>
        <td th:text="${cohort.gradDate}"></td>
        <td th:text="${cohort.contactHours}"></td>
        <td><a th:href="@{/cohorts/{id}/edit(id=${cohort.id})}" class="btn btn-warning">Edit</a></td>
        <td><a th:href="@{/cohorts/delete/{id}(id=${cohort.id})}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a></td>
    </tr>
</table>
<hr>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>