<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<title>Cohorts</title>
<body>
<nav th:replace="fragments :: navbar"></nav>
<h1>Edit existing cohorts</h1>

<form action="#" th:action="@{/cohorts/{id}/edit(id=${cohort.id})}" th:object="${cohort}" th:method="POST" style="max-width:600px;">

    <div class="form-group">
        <label for="name-field">Name</label>
        <input class="form-control" type="text" id="name-field" th:field="*{name}"/>
    </div>

    <div class="form-group">
        <label for="startDate-field">Start date</label>
        <input class="form-control" type="date" id="startDate-field" th:field="*{startDate}"/>
    </div>

    <div class="form-group">
        <label for="programType-field">Select program type</label>
        <select th:field="*{programType}" class="form-control" id="programType-field">
            <option value="Full-Stack Web Dev - Java">Full-Stack Web Development</option>
            <option value="Data Science">Data Science</option>
            <option value="New Program">New Program</option>
        </select>
    </div>
    <div class="form-group">
        <label for="campus-field">Campus (SAT, DAL, HOU, AUS)</label>
        <input class="form-control" type="text" id="campus-field" th:field="*{campus}"/>
    </div>

    <div class="form-group">
        <label for="contactHours-field">Contact hours</label>
        <input class="form-control" type="text" id="contactHours-field" th:field="*{contactHours}"/>
    </div>

    <input type="submit" value="Update Cohort"/>
</form>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>